body {
	font-family: 'Nunito', sans-serif;
}

.greece {
	background-color: #eb4d4b;
}

.world {
	background-color: #6ab04c;
}

.finance {
	background-color: #22a6b3;
}

.politics {
	background-color: #be2edd;
}