:root {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

.container {
	display: flex;
	margin: 1rem;
}

form {
	width: 100%;
}

.box {
	border: 1px solid #30336b;
	width: 10%;
	margin: 4px;
	display: inline-flex;
}

#buttons {
	display: flex;
}

.btn {
	width: 100%;
	margin: 1rem;
	background-color: transparent;
	border: 1px solid #30336b;
	padding: .5rem;
	font-family: 'Poppins', sans-serif;
	border-radius: .25rem;
	font-size: 1rem;
	text-decoration: none;
}

.btn:hover {
	background-color: #30336b;
	border-color: #30336b;
	color: #ff7979;
	cursor: pointer;
}

.btn:first-child {
	margin: 1rem 1rem 1rem 0;
}

.btn:last-child {
	margin: 1rem 0 1rem 1rem;
}

a.btn {
	text-align: center;
}